<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.ac.aber.dcs.slj11.conference" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Conference Browser</name>
    <description>Browse conference sessions and discover venues</description>
    <author email="cwl@aber.ac.uk" href="http://users.aber.ac.uk/cwl">Samuel Jackson</author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <plugin name="org.apache.cordova.battery-status" source="pgb" />
    <plugin name="org.apache.cordova.camera" source="pgb" />
    <plugin name="org.apache.cordova.media-capture" source="pgb" />
    <plugin name="org.apache.cordova.console" source="pgb" />
    <plugin name="org.apache.cordova.contacts" source="pgb" />
    <plugin name="org.apache.cordova.device" source="pgb" />
    <plugin name="org.apache.cordova.device-motion" source="pgb" />
    <plugin name="org.apache.cordova.device-orientation" source="pgb" />
    <plugin name="org.apache.cordova.dialogs" source="pgb" />
    <plugin name="org.apache.cordova.file" source="pgb" />
    <plugin name="org.apache.cordova.file-transfer" source="pgb" />
    <plugin name="org.apache.cordova.geolocation" source="pgb" />
    <plugin name="org.apache.cordova.globalization" source="pgb" />
    <plugin name="org.apache.cordova.inappbrowser" source="pgb" />
    <plugin name="org.apache.cordova.media" source="pgb" />
    <plugin name="org.apache.cordova.network-information" source="pgb" />
    <plugin name="org.apache.cordova.splashscreen" source="pgb" />
    <plugin name="org.apache.cordova.vibration" source="pgb" />
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/icons/android/ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/icons/android/mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/icons/android/hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/icons/android/xhdpi.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~4.1.1" />
</widget>
